header {
  background-image: url("images/NY.jpg");
  background-size: cover;
  height: 523px;
}

header::after {
  content: '';

}
nav {
  max-width: 1018px;
  margin: 0 auto;
  padding-right: 2.7504912%;
}
nav::after {
  content: "";
  display: table;
  clear: both;
}
.logo-container {
  float: left;
}

.header-links {
  float: right;
}
